body {
    padding: var(--size-fluid-3);
}

.button {
    --_bg: linear-gradient(var(--indigo-5), var(--indigo-7));
    --_border: var(--indigo-6);
    --_text: var(--indigo-0);
    --_ink-shadow: 0 1px 0 var(--indigo-9);
}

.time {
    font-size: var(--font-size-6);
}

.highlight {
    animation: var(--animation-blink);
}

table {
    width: 100%;
}

thead {
    background: var(--gradient-16);
}

tbody {
    text-align: center;
    background: var(--indigo-12);
}
tr:nth-child(even) {
    background: var(--indigo-9);
}

nav {
    background: var(--gradient-8);
    padding: var(--size-2);
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -50px;
  top: 40px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
	-webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}
