body {
    padding: var(--size-fluid-3);
}

.button {
    --_bg: linear-gradient(var(--indigo-5), var(--indigo-7));
    --_border: var(--indigo-6);
    --_text: var(--indigo-0);
    --_ink-shadow: 0 1px 0 var(--indigo-9);
}

.time {
    font-size: var(--font-size-6);
}

.highlight {
    animation: var(--animation-blink);
}

table {
    width: 100%;
}

thead {
    background: var(--gradient-16);
}

tbody {
    text-align: center;
    background: var(--indigo-12);
}
tr:nth-child(even) {
    background: var(--indigo-9);
}

nav {
    background: var(--gradient-8);
    padding: var(--size-2);
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}
