<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Konversi Media</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/image/favicon.png" />

    <!-- Font -->

    <link rel="stylesheet" href="/open-props.min.css">
    <link rel="stylesheet" href="/normalize.dark.min.css">
    <link rel="stylesheet" href="/buttons.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Konversi Media</h1>

    <video controls>
        <source src="/uploads/download.webm" type="video/webm">
    </video>

    <hr />

    <p class="time">Total waktu konversi: <span class="highlight">{{ time }}</span> milidetik.</p>

    <form action="/">
        <button type="submit" class="button">Konversi lagi</button>
    </form>
</body>

</html>
